<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./node_modules/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    姓：<input type="text" v-model='firstName'><br>
    名：<input type="text" v-model='firstName'>
    姓名1单向：<input type="text" v-model='firstName'>
    姓名2单向：<input type="text" v-model='firstName'>
    <p>{{firstName}}</p>
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        firstName:''
      },
      methods: {}
    });
  </script>
</body>

</html>